.Banner{
    background-image: url('https://images.hdqwalls.com/wallpapers/doctor-strange-in-spider-man-no-way-home-4k-rf.jpg');
    background-size: cover;
    height: 650px;
    color:white
    


}

.content{
    padding-top: 140px;
    height: 190px;
    padding-left: 20px;
    text-shadow: 3px 1px  black;
}
.title{
    
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
    
   
    
}

.title_box{
    width: auto;
    max-width: 400px;
    margin-bottom: 20px;
    

}

.buttons{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(52, 30, 60, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.buttons:hover{
    color: black;
    background-color: whitesmoke;
}

.discription{
    width: 45rem;
    line-height: 1.3;
    
    padding-top: 1rem;
    font-size: 1.02rem;
    height: auto;
    max-width: 360px;
    text-shadow: 2px 1px  black;
    margin-top: 8px;
}

.fade_style{
    height: 7.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(73,30,66,.61),#111);
    margin-top: 205px;
}